{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "ie >= 9"
          ],
          "node": "current"
        },
        "modules": true,
        "debug": true,
        "useBuiltIns": true,
        "include": [],
        "exclude": []
      }
    ]
  ]
}